furo
intersphinx-registry
linkify-it-py
matplotlib
matplotlib-inline
mpmath
myst-parser
scipy
Sphinx
sphinx-autobuild
sphinx-copybutton
sphinx-math-dollar
sphinx-reredirects
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-jquery
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability
